{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "11",
          "node": "current"
        },
        "loose": true
      }
    ]
  ],
  "plugins":  [
    [ "@babel/plugin-transform-classes", { "loose": true } ]
  ]
}
